<!DOCTYPE html>
<html>

<head>
    <title>Books</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div ng-include="'views/partials/nav.html'"></div>

<body>
    <h1>Books</h1>
	<div ng-include="'views/partials/nav_books.html'"></div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year Released</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "book in vm.getAllBooks">
                <td><a href="#/book_detail.html/{{book.id}}">{{book.title}}</a></td>
                <td>{{book.author}}</td>
                <td>{{book.genre}}</td>
                <td>{{book.first_published}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>