<!DOCTYPE html>
<html>

<head>
    <title>Loans</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div ng-include="'views/partials/nav.html'"></div>

<body>
    <h1>Loans</h1>
    <p> <a href="#/new_loan.html" class="button">Create New Loan</a></p>
    <p>Filters <a href="#/all_loans.html">All</a> | <a href="#/overdue_loans.html">Overdue</a> | <a href="#/checked_loans.html">Checked Out</a></p>
    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Patron </th>
                <th>Loaned on</th>
                <th>Return by </th>
                <th>Returned on</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="loan in vm.getAllLoans">
                <td><a href="book_detail.html">{{loan.book.title}}</a></td>
                <td><a ng-href="patron_detail.html">{{loan.patron.first_name}} {{loan.patron.last_name}}</a></td>
                <td>{{loan.loaned_on}}</td>
                <td>{{loan.return_by}}</td>
                <td>{{loan.returned_on}}</td>
                <td><a href="return_book.html" class="button">Return Book</a></td>
        </tbody>
    </table>
</body>

</html>