<!DOCTYPE html>
<html>

<head>
    <title>Patrons</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div ng-include="'views/partials/nav.html'"></div>

<body>
    <h1>Patrons</h1>
    <p> <a href="#/new_patron.html" class="button">Create New Patron</a></p>
    <table>
        <thead>
            <tr>
                <th>Name </th>
                <th>Address</th>
                <th>Email</th>
                <th>Library ID</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="patron in vm.patrons">
                <td><a ng-href="#/patron_detail.html/{{patron.id}}">{{patron.first_name}} {{patron.last_name}}</a></td>
                <td>{{patron.address}}</td>
                <td>{{patron.email}}</td>
                <td>{{patron.library_id}}</td>
                <td>{{patron.zip_code}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>