<!DOCTYPE html>
<html>

<head>
    <title>{{vm.book.title}}</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div ng-include="'views/partials/nav.html'"></div>

<body>
    <h1>{{vm.book.title}}</h1>
    <form>
		<div ng-include="'views/partials/error.html'"></div>
        <p> <label for="title">Title</label><input id="title" type="text" ng-model="vm.book.title"></p>
        <p><label for="author">Author</label><input id="author" type="text" ng-model="vm.book.author"></p>
        <p><label for="genre">Genre</label><input id="genre" type="text" ng-model="vm.book.genre"></p>
        <p><label for="first_published">First Published</label><input id="first_published" type="text"ng-model="vm.book.first_published"></p>
        <p><input type="submit" value="Update" ng-click="vm.putBookDetail()"></p>
    </form>
    <h2>Loan History</h2>
    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Patron </th>
                <th>Loaned on</th>
                <th>Return by </th>
                <th>Returned on</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="loan in vm.book.loans">
                <td><a href="#/book_detail.html/{{loan.book_id}}">{{vm.book.title}}</a></td>
                <td><a href="#/patron_detail.html/{{loan.patron_id}}">{{loan.patron.first_name}} {{loan.patron.last_name}}</a></td>
                <td>{{loan.loaned_on}}</td>
                <td>{{loan.return_by}}</td>
                <td>{{loan.returned_on}}</td>
                <td><a ng-if="!loan.returned_on" href="#/return_book.html/{{loan.id}}" class="button">Return Book</a></td> 
            </tr>
        </tbody>
    </table>
</body>

</html>