<!DOCTYPE html>
<html>

<head>
    <title>New Book</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<nav>
    <ul>
		<li><a href="#/">Home</a></li>
        <li><a href="#/all_books.html">Books</a></li>
        <li><a href="#/all_patrons.html">Patrons</a></li>
        <li><a href="#/all_loans.html">Loans</a></li>
    </ul>
</nav>

<body>
    <h1>New Book</h1>
    <form>
        <p><label for="title">Title</label><input id="title" type="text" ng-model="vm.newBook.title"></p>
        <p><label for="author">Author</label><input id="author" type="text" ng-model="vm.newBook.author"></p>
        <p><label for="genre">Genre</label><input id="genre" type="text" ng-model="vm.newBook.genre"></p>
        <p><label for="first_published">First Published</label><input id="first_published" type="text" ng-model="vm.newBook.first_published"></p>
        <p><input type="submit" value="Create New Book" ng-click="vm.postNewBook()"></p>
    </form>
	<p ng-if="vm.success">Success</p>
	<p ng-if="vm.failure" ng-repeat="error in vm.errorMessages">{{error.message}}</p>
</body>

</html>