<!DOCTYPE html>
<html>

<head>
    <title>New Loan</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div ng-include="'views/partials/nav.html'"></div>

<body>
    <h1>New Loan</h1>
    <form>
		<div ng-include="'views/partials/error.html'"></div>
        <p>
          <label for="book_id">Book: </label>
          <select ng-model="vm.loan.book_id" id="book_id" ng-options="book.id as book.title for book in vm.getAllBooks">
			<option value="">Select a Book</option>
          </select> 
        </p>
		
        <p>
          <label for="patron_id">Patron: </label>
          <select ng-model="vm.loan.patron_id" id="patron_id" ng-options="patron.id as (patron.first_name + ' ' + patron.last_name) for patron in vm.getAllPatrons">
			<option value="">Select a Patron</option>
          </select>
        </p>
		
        <p>
        <label for="loaned_on">Loaned on:</label><input id="loaned_on" type="text" ng-init="vm.loan.loaned_on=vm.date" ng-model="vm.loan.loaned_on"></p>
        <p>
        <label for="return_by">Return by:</label><input id="return_by" type="text" ng-init="vm.loan.return_by=vm.returnDate" ng-model="vm.loan.return_by"></p>
        <p><input type="submit" value="Create New Loan" ng-click="vm.postNewLoan()"></p>
    </form>
</body>

</html>