<!DOCTYPE html>
<html>

<head>
    <title>Overdue Books</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<nav>
    <ul>
		<li><a href="#/">Home</a></li>
        <li><a href="#/all_books.html">Books</a></li>
        <li><a href="#/all_patrons.html">Patrons</a></li>
        <li><a href="#/all_loans.html">Loans</a></li>
    </ul>
</nav>

<body>
    <h1>Overdue Books</h1>
    <p> <a href="#/new_book.html" class="button">Create New Book</a></p>
    <p>Filters <a href="#/all_books.html">All</a> | <a href="#/overdue_books.html">Overdue</a> | <a href="#/checked_books.html">Checked Out</a></p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year Released</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "loan in vm.getOverdueBooks">
                <td><a href="book_detail.html">{{loan.book.title}}</a></td>
                <td>{{loan.book.author}}</td>
                <td>{{loan.book.genre}}</td>
                <td>{{loan.book.first_published}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>