<!DOCTYPE html>
<html>

<head>
    <title>{{vm.patrons.first_name}} {{vm.patrons.last_name}}</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div ng-include="'views/partials/nav.html'"></div>

<body>
    <h1>Patron: {{vm.patrons.first_name}} {{vm.patrons.last_name}}</h1>
    <form>
		<div ng-include="'views/partials/error.html'"></div>
        <p> <label for="first_name">First Name</label><input id="first_name" type="text" ng-model="vm.patrons.first_name"></p>
        <p> <label for="last_name">Last Name</label><input id="last_name" type="text" ng-model="vm.patrons.last_name"></p>
        <p><label for="address"> Address</label><input id="address" type="text" ng-model="vm.patrons.address"></p>
        <p><label for="email">Email</label><input id="email" type="text" ng-model="vm.patrons.email"></p>
        <p> <label for="library_id">Library ID</label><input id="library_id" type="text" ng-model="vm.patrons.library_id"></p>
        <p><label for="zip_code">Zip Code</label><input id="zip_code" type="text" ng-model="vm.patrons.zip_code"></p>
        <p><input type="submit" value="Update" ng-click="vm.putPatronDetail()"></p>
    </form>
	<h2>Loan History</h2>
    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Patron </th>
                <th>Loaned on</th>
                <th>Return by </th>
                <th>Returned on</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="loan in vm.patrons.loans">
                <td><a ng-href="#/book_detail.html/{{loan.book_id}}">{{loan.book.title}}</a></td>
                <td><a ng-href="#/patron_detail.html/{{loan.patron_id}}">{{vm.patrons.first_name}} {{vm.patrons.last_name}}</a></td>
                <td>{{loan.loaned_on}}</td>
                <td>{{loan.return_by}}</td>
                <td>{{loan.returned_on}}</td>
                <td><a ng-if="!loan.returned_on" href="/#/return_book.html/{{loan.id}}" class="button">Return Book</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>