<!DOCTYPE html>
<html>

<head>
    <title>Return Book</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div ng-include="'views/partials/nav.html'"></div>

<body>
    <h1>{{vm.loan.patron.first_name}} {{vm.loan.patron.last_name}}: Return Book</h1>
    <p><strong>Book Title: </strong>{{vm.loan.book.title}}</p>
    <p><strong>Loaned By: </strong>{{vm.loan.patron.first_name}} {{vm.loan.patron.last_name}}</p>
    <p><strong>Loaned On: </strong>{{vm.loan.loaned_on}}</p>
    <p><strong>Return By: </strong>{{vm.loan.return_by}}</p>
    <form>
        <p> <label for="returned_on">Returned on:</label><input id="returned_on" type="text" ng-model="vm.loan.returned_on"></p>
        <p><input type="submit" value="Return Book" ng-click="vm.putReturnBook()"></p>
    </form>
	<p ng-if="vm.success">Success</p>
	<p ng-if="vm.failure" ng-repeat="error in vm.errorMessages">{{error.message}}</body>

</html>