    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year Released</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="loan in vm.loans | itemsPerPage: 5">
                <td><a href="#!/book_detail.html/{{loan.book.id}}">{{loan.book.title}}</a></td>
                <td>{{loan.book.author}}</td>
                <td>{{loan.book.genre}}</td>
                <td>{{loan.book.first_published}}</td>
            </tr>
        </tbody>
    </table>
	<dir dir-pagination-controls></dir dir-pagination-controls>

