    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Patron </th>
                <th>Loaned on</th>
                <th>Return by </th>
                <th>Returned on</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="loan in vm.loans | itemsPerPage: 5">
                <td><a href="#!/book_detail.html/{{loan.book.id}}">{{loan.book.title}}</a></td>
                <td><a ng-href="#!/patron_detail.html/{{loan.patron.id}}">{{loan.patron.first_name}} {{loan.patron.last_name}}</a></td>
                <td>{{loan.loaned_on}}</td>
                <td>{{loan.return_by}}</td>
                <td>{{loan.returned_on}}</td>
                <td ng-if="!loan.returned_on"><a href="/#!/return_book.html/{{loan.id}}" class="button">Return Book</a></td>
        </tbody>
    </table>
	<dir dir-pagination-controls></dir dir-pagination-controls>
